name: Build and Push Docs

on:
  release:
    types: [published]
    branches: [master]

jobs:
  build-and-push-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "14.x"

      - name: Install dependencies
        run: npm ci

      - name: Build library
        run: npm run build

      - name: Build documentation
        run: npm run build:docs

      - name: Push documentation to branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/
          publish_branch: docs